/* Global Styles */
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600|Roboto:300,400,500");
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
a,
a:link,
a:hover,
a:visited {
	text-decoration: none;
}
a:focus {
	outline: blue 2px;
}
hr {
	height: 0.75em;
	border: 0;
	box-shadow: inset 0 0.25em 0.25em -0.25em rgba(0, 0, 0, 0.5);
}
.full-length {
	width: 100%;
}
body {
	max-width: 1600px;
	font-family: "Nunito Sans";
	overflow-x: hidden;
}
.flex-container {
	display: flex;
	min-height: 100vh;
}
header,
.header__navigation,
ul {
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	height: 60px;
	box-shadow: -1px 1px 3px #c1c1c2;
}
/* gray border around everything */
main,
.main__message {
	border: solid 1px #f1f1f1;
}

aside {
	background-color: #333333;
	padding: 0.1em 0.625em;
	width: 60px;
	height: 100%;
	display: flex;
	flex-flow: column nowrap;
	z-index: 8;
}
.tab-wrapper {
	margin: 0.625em 0 0.498em 0;
}
.square {
	background-color: white;
	width: 2.5em;
	height: 2.5em;
	border-radius: 0.25em;
	padding: 0.625em 0 0.3125em 0;
}
/* command caption under white square tabs*/
label {
	font-size: 0.5625em;
	color: white;
	padding: 0.625em 1.2em 0em 1.2em;
	z-index: inherit;
}
/* a list of Lorem Ipsum that looks like iMessages */
main {
	background-color: #f1f1f2;
	z-index: 1;
	width: fit-content;
	height: 100%;
}
.main__wrapper {
	display: inline-grid;
	max-width: 340px;
	grid-template-rows: repeat(9, 1fr);
	scrollbar-width: thin; /* firefox only */
}
.main__message {
	font-size: 0.685em;
	height: 100px;
	padding: 0.313em 0.875em;
	text-align: left;
	border-bottom: 1px solid lightgray;
	margin: 0;
}

.subject {
	margin: 0.525em 0;
}

/* Pink glowing indicator bullet beside wrapper */
.show {
	background: transparent;
}
.show ::before {
	transition: all 0.5s ease-in;
	position: relative;
	vertical-align: baseline;
	opacity: 1;
	font-size: 0.925em;
	margin-left: -0.785em;
	color: #db0a5b;
	filter: blur(0.07rem);
	content: "\2022";
	text-decoration: none;
	z-index: 5;
}
/* <article> contains text layout with drop cap */
article {
	max-width: 880px;
	grid-gap: 0em;
	z-index: 1;
	overflow-y: auto;
	padding: 1.563em 1.875em;
	position: relative;
}
.page-wrapper {
	background-color: white;
}
p.dropcap:first-letter {
	font-family: "Roboto", Arial, sans-serif;
	float: left;
	position: relative;
	padding: 5px 5px;
	font-weight: 500;
	font-size: 2.5em;
	margin: -0.15em 0em;
	/* safari ios selectors below */
	initial-letter: 2;
	-webkit-initial-letter: 2;
}
article h3 {
	font-weight: 600;
}
.tagline {
	padding: 0.2em 0 1.5em 0;
	font-size: 0.86em;
	font-style: italic;
	font-weight: 350;
}
article h3,
.tagline {
	font-family: "Roboto", Arial, sans-serif;
}
img .article__img {
	width: 100%;
	object-fit: cover; /* ensure image responsiveness */
	object-position: center;
	height: auto;
	z-index: 6;
}
.body-text {
	font-size: 0.725em;
	margin-bottom: 1.25em;
}
/* 'Type A Message' field */
section .sub-item {
	position: fixed;
	background-color: white;
	display: inline-grid;
}
form {
	margin: 0.625em 0em 0.96em 0em;
}
textarea {
	width: 100%;
	text-align: left;
	outline: lightgray;
	font-size: medium;
	padding: 0em 0.5em;
}
textarea::placeholder {
	font-family: "Nunito Sans", sans-serif;
	height: 3em;
}
/* <header> contains the menu list */
/* logo in top-left corner */
.header__logo {
	order: 1;
	width: 60px;
	padding: 0.313em;
	background-color: rgb(219, 10, 91);
	background-color: #db0a5b; /* fallback colour for IE*/
	z-index: 99;
}
.header__nav__title {
	font-size: 1.6em;
	font-weight: 200;
	order: 2;
}
#header__nav--hamburger {
	font-size: 1.75em;
	order: 3;
	font-weight: 300;
	cursor: pointer;
}

/* dropdown items */
.header__ul--parent {
	background-color: lightgray;
	display: inline-flex;
	position: absolute;
	flex-flow: row wrap;
}
.header__ul--sub-menu {
	background-color: #efefef;
	box-shadow: -1.5px 1px 2px #c1c1c2;
	display: none;
	flex-flow: column nowrap;
}

.dropdown {
	z-index: 8;
	margin-top: 60px;
	position: absolute;
	display: inline-block;
}

ul,
.header__ul,
.dropdown,
li {
	list-style-type: none;
}
.header__ul--sub-menu .dropdown li:focus,
.header__ul--sub-menu .dropdown li:focus-within {
	visibility: show;
}

.header__ul--sub-menu li:hover {
	opacity: 0.8;
	font-weight: 400;
	background-color: lightpink;
}

@media all and (min-width: 768px) {
	.flex-container {
		display: grid;
		grid-template-columns: auto 340px auto;
		grid-template-rows: 60px 1fr auto;
		justify-content: start;
	}
	header {
		grid-column: 1/3 span 3;
		grid-row: 1;
	}
	aside {
		grid-column: span 1;
		grid-row: 2;
	}
	main {
		grid-column: span 1;
		grid-row: 2;
		justify-self: left;
	}
	article {
		grid-column: span 1;
		grid-row: 2;
		flex: 1;
		vertical-align: middle;
	}
}

@media all and (min-width: 320px) and (max-width: 767px) {
	.flex-container {
		display: grid;
		grid-template-columns: 60px 320px auto;
		grid-template-rows: 60px auto auto;
	}
	header {
		grid-column: span 3;
		grid-row: 1;
	}
	aside {
		grid-column: span 1;
		grid-row: 2/4;
	}
	main {
		grid-column: span 2;
		grid-row: 2;
	}
	article {
		grid-row: 3;
		grid-column: span 2;
		min-width: 300px;
		max-width: 530px;
	}
}
